---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: route53 entry for acm certificate

Resources:
  AcmDnsRecordCloudfront:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneName: {{ route53_domain_name }}.
      Comment:  DNS entry for acm certificate for domain {{subdomain}}.{{route53_domain_name}}
      Name: {{ acm_cname_cloudfront_name }}
      Type: CNAME
      TTL: '300'
      ResourceRecords:
        - {{ acm_cname_cloudfront_value }}

  AcmDnsRecordApiGateway:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneName: {{ route53_domain_name }}.
      Comment:  DNS entry for acm certificate for domain api-{{subdomain}}.{{route53_domain_name}}
      Name: {{ acm_cname_apigateway_name }}
      Type: CNAME
      TTL: '300'
      ResourceRecords:
        - {{ acm_cname_apigateway_value }}