---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: acm certificae for cloudfront

Resources:
  AcmCertificateCloudFront:
    Type: AWS::CertificateManager::Certificate
    Properties:
      ValidationMethod: DNS
      DomainValidationOptions:
        - DomainName: {{subdomain}}.{{route53_domain_name}}
          ValidationDomain: {{route53_domain_name}}
      DomainName: {{subdomain}}.{{route53_domain_name}}

  AcmCertificateApiGateway:
    Type: AWS::CertificateManager::Certificate
    Properties:
      ValidationMethod: DNS
      DomainValidationOptions:
        - DomainName: api-{{subdomain}}.{{route53_domain_name}}
          ValidationDomain: {{route53_domain_name}}
      DomainName: api-{{subdomain}}.{{route53_domain_name}}

Outputs:
  AcmArnCloudfront:
    Description: ACM Certificate arn
    Value: !Ref AcmCertificateCloudFront
  AcmArnApiGateway:
    Description: ACM Certificate arn
    Value: !Ref AcmCertificateApiGateway