---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: route53 entry for the api gateway

Resources:
  ApiGatewayDnsRecord:
    Type: "AWS::Route53::RecordSet"
    Properties: 
      AliasTarget: 
        # hosted zone for cloudfront
        # https://docs.aws.amazon.com/general/latest/gr/rande.html#apigateway_region
        HostedZoneId: Z2FDTNDATAQYW2
        DNSName: {{apigw_domainname}}
      Comment: Custom domain name for api gateway
      HostedZoneName: {{ route53_domain_name }}.
      Name: api-{{subdomain}}.{{route53_domain_name}}.
      Type: A
