---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: deploy the api definition for the lambda functions


Resources:
  staticsiteapi:
    Type: "AWS::ApiGateway::RestApi"
    Properties:
      Name: staticsite
      Description: staticsite api calls
      Body:
        swagger: '2.0'
        info:
          title: StaticSite API
          description: staticsite api calls
          version: 0.0.1
          contact:
            name: Sebastian Hutter
            url: https://sebastian-hutter.ch
            email: mail@sebastian-hutter.ch
          license:
            name: Apache 2.0
            url: http://www.apache.org/licenses/LICENSE-2.0.html
        basePath : /
        schemes :
          - https
        paths:
          "/sendmail":
            post:
              description: Send email with contact form content
              requestBody:
                description: json body with message details
                requitred: true
              produces:
                - application/json
              x-amazon-apigateway-integration: 
                type: aws_proxy
                responses:
                  default:
                    statusCode: '200'
                httpMethod: POST
                uri: arn:aws:apigateway:{{aws_region}}:lambda:path/2015-03-31/functions/{{lambdamailerarn}}/invocations

# Add Lambda Execution Permission
  LambdaApiPermission:
    Type: "AWS::Lambda::Permission"
    Properties:
      Action: "lambda:invokeFunction"
      FunctionName: "{{lambdamailerarn}}"
      Principal: "apigateway.amazonaws.com"
      SourceArn: !Sub 
        - "arn:aws:execute-api:{{aws_region}}:{{caller_facts.account}}:${Api}/*"
        - Api: !Ref staticsiteapi

# add placeholder deployment
  LambdaApiDeployment: 
    Type: AWS::ApiGateway::Deployment
    DependsOn: staticsiteapi
    Properties: 
      RestApiId: !Ref "staticsiteapi"
      StageName: "default"

# create the default stage
  LambdaApiStagePublic:
    Type: AWS::ApiGateway::Stage
    DependsOn: LambdaApiDeployment
    Properties:
      DeploymentId: !Ref LambdaApiDeployment
      RestApiId: !Ref staticsiteapi
      StageName: "public"
      Variables:
        LambdaAlias: "public"
      MethodSettings:
        - DataTraceEnabled: true
          HttpMethod: "*"
          LoggingLevel: "INFO"
          ResourcePath: "/*"
        
# add custom domain name path mapping:
  LambdaApiBasePathMapping:
    Type: AWS::ApiGateway::BasePathMapping
    DependsOn: LambdaApiStagePublic
    Properties:
      DomainName: "api-{{subdomain}}.{{route53_domain_name}}"
      RestApiId: !Ref staticsiteapi
      Stage: "public"