---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: api gateway for staticsite hosting

Resources:
  # create the custom domain name
  ApiCustomDomainName:
    Type: 'AWS::ApiGateway::DomainName'
    Properties:
      DomainName: "api-{{subdomain}}.{{route53_domain_name}}"
      CertificateArn: {{acmarn}}

  # iam role to create logstreams for the apis
  ApiCloudWatchLogsRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          -
            Effect: "Allow"
            Principal:
              Service:
                - "apigateway.amazonaws.com"
            Action:
              - "sts:AssumeRole"

  ApiCloudWatchLogsPolicy:
    Type: "AWS::IAM::Policy"
    Properties: 
      PolicyName: "root"
      PolicyDocument: 
        Version: "2012-10-17"
        Statement: 
          - 
            Effect: "Allow"
            Action: 
              - "logs:CreateLogGroup"
              - "logs:CreateLogStream"
              - "logs:DescribeLogGroups"
              - "logs:DescribeLogStreams"
              - "logs:PutLogEvents"
              - "logs:GetLogEvents"
              - "logs:FilterLogEvents"
            Resource: "*"
      Roles: 
        - 
          Ref: "ApiCloudWatchLogsRole"

  # api gateway account with cloudwatch permissions
  ApiGatewayAccount:
    Type: "AWS::ApiGateway::Account"
    DependsOn: ApiCloudWatchLogsPolicy
    Properties:
      CloudWatchRoleArn: !GetAtt ApiCloudWatchLogsRole.Arn

Outputs:
  ApiCustomDomainName: 
    Description: Api Gateway Custom Domain Distribution name
    Value: !GetAtt ApiCustomDomainName.DistributionDomainName
