---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: cloudfront distribution for static site

Resources:
  CloudFront:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Origins:
          - Id: S3Origin
            DomainName: {{subdomain}}.{{route53_domain_name}}.s3.{{aws_region}}.amazonaws.com
            S3OriginConfig:
              OriginAccessIdentity: origin-access-identity/cloudfront/{{s3cloudfrontid}}
        Enabled: 'true'
        Comment: "Distribution for staticsite at {{subdomain}}.{{route53_domain_name}}"
        Aliases:
          - {{subdomain}}.{{route53_domain_name}}
        HttpVersion: http2
        Logging:
          IncludeCookies: 'false'
          Bucket: "{{subdomain}}.{{route53_domain_name}}-logs.s3.amazonaws.com"
          Prefix: "cloudfront"
        DefaultRootObject: 'index.html'
        DefaultCacheBehavior:
          LambdaFunctionAssociations:
            - EventType: 'viewer-request'
              LambdaFunctionARN: {{lambdaedgedefaultarn}}
          AllowedMethods:
            - GET
            - HEAD
            - OPTIONS
          TargetOriginId: S3Origin
          Compress: True
          MinTTL: 300
          DefaultTTL: 86400
          MaxTTL: 31536000
          ForwardedValues:
            Headers:
              - Origin
              - Access-Control-Request-Headers
              - Access-Control-Request-Method
              - CloudFront-Viewer-Country
              - CloudFront-Forwared-Proto
              - CloudFront-Is-Desktop-Viewer
              - CloudFront-Is-Mobile-Viewer
              - CloudFront-Is-SmartTV-Viewer
              - CloudFront-Is-Tablet-Viewer
            QueryString: 'false'
            Cookies:
              Forward: none
          ViewerProtocolPolicy: redirect-to-https
        CacheBehaviors:
          - PathPattern: de/*
            LambdaFunctionAssociations:
              - EventType: 'viewer-request'
                LambdaFunctionARN: {{lambdaedgehexoarn}}
            AllowedMethods:
              - GET
              - HEAD
              - OPTIONS
            TargetOriginId: S3Origin
            Compress: True
            MinTTL: 86400
            DefaultTTL: 86400
            MaxTTL: 86400
            ForwardedValues:
              Headers:
                - Origin
                - Access-Control-Request-Headers
                - Access-Control-Request-Method
                - CloudFront-Viewer-Country
                - CloudFront-Forwared-Proto
                - CloudFront-Is-Desktop-Viewer
                - CloudFront-Is-Mobile-Viewer
                - CloudFront-Is-SmartTV-Viewer
                - CloudFront-Is-Tablet-Viewer
              QueryString: 'false'
              Cookies:
                Forward: none
            ViewerProtocolPolicy: redirect-to-https
          - PathPattern: en/*
            LambdaFunctionAssociations:
              - EventType: 'viewer-request'
                LambdaFunctionARN: {{lambdaedgehexoarn}}
            AllowedMethods:
              - GET
              - HEAD
              - OPTIONS
            TargetOriginId: S3Origin
            Compress: True
            MinTTL: 86400
            DefaultTTL: 86400
            MaxTTL: 86400
            ForwardedValues:
              Headers:
                - Origin
                - Access-Control-Request-Headers
                - Access-Control-Request-Method
                - CloudFront-Viewer-Country
                - CloudFront-Forwared-Proto
                - CloudFront-Is-Desktop-Viewer
                - CloudFront-Is-Mobile-Viewer
                - CloudFront-Is-SmartTV-Viewer
                - CloudFront-Is-Tablet-Viewer
              QueryString: 'false'
              Cookies:
                Forward: none
            ViewerProtocolPolicy: redirect-to-https
        CustomErrorResponses:
          - ErrorCachingMinTTL: 300
            ErrorCode: 404
            ResponseCode: 404
            ResponsePagePath: /404.html
        
        # different priceclass means different amount of distributions 
        # https://aws.amazon.com/cloudfront/pricing/ (search for Price Class)
        PriceClass: PriceClass_100
        ViewerCertificate:
          # use custom certificate - the subject names must
          # match the defined aliase
          AcmCertificateArn: {{acmarn}}
          SslSupportMethod: sni-only

Outputs:
  CloudfrontDomainName:
    Description: Cloudfront Domain Name
    Value: !GetAtt CloudFront.DomainName
