---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: route53 entry for the cloudfront distribiution

Resources:
  CloudfrontDnsRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneName: {{ route53_domain_name }}.
      Comment:  DNS entry for Cloudfront for domain
      Name: {{subdomain}}.{{route53_domain_name}}.
      Type: CNAME
      TTL: '300'
      ResourceRecords:
        - {{ cloudfront_domainname }}