---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: lambda function to send emails

Resources:
  LambdaRoleMailer:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - 'lambda.amazonaws.com'
          Action: 'sts:AssumeRole'
      ManagedPolicyArns:
      - 'arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'

  LambdaFunctionMailer:
    Type: 'AWS::Lambda::Function'
    Properties:
      Code:
        S3Bucket: "{{subdomain}}.{{route53_domain_name}}-lambdas"
        S3Key: "mailer/{{lambd_mailer_zip}}"
      Handler: 'mailer.handler'
      MemorySize: 128
      Role: !GetAtt 'LambdaRoleMailer.Arn'
      Runtime: 'python3.6'
      Timeout: 15

  # create a random cf id so we make sure
  # the version is id is updated everytime
  LambdaFunctionVersionMailer{{ ansible_date_time.epoch }}:
    Type: AWS::Lambda::Version
    Properties:           
      FunctionName : !Ref LambdaFunctionMailer

Outputs:
  LambdFunctionVersionId:
    Description: Lambda Function Arn with Version Id
    Value: !Ref LambdaFunctionVersionMailer{{ ansible_date_time.epoch }}
  LambdaFunctionHash:
    Description: sha1 sum of the lambda execution file
    Value: "{{md5sum_lambda_local}}"