---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: lamda@edge function for default route

Resources:
  LambdaEdgeRoleDefault:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - 'lambda.amazonaws.com'
            - 'edgelambda.amazonaws.com'
          Action: 'sts:AssumeRole'
      ManagedPolicyArns:
      - 'arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole'

  LambdaEdgeFunctionDefault:
    Type: 'AWS::Lambda::Function'
    Properties:
      Code:
        S3Bucket: "{{subdomain}}.{{route53_domain_name}}-lambdas-edge"
        S3Key: "default/{{lambd_edge_default_zip}}"
      Handler: 'default.handler'
      MemorySize: 128
      Role: !GetAtt 'LambdaEdgeRoleDefault.Arn'
      Runtime: 'nodejs8.10'
      Timeout: 5

  # create a random cf id so we make sure
  # the version is id is updated everytime
  LambdaEdgeFunctionVersionDefault{{ ansible_date_time.epoch }}:
    Type: AWS::Lambda::Version
    Properties:           
      FunctionName : !Ref LambdaEdgeFunctionDefault

Outputs:
  LambdaEdgeFunctionVersionId:
    Description: Lambda Function Arn with Version Id
    Value: !Ref LambdaEdgeFunctionVersionDefault{{ ansible_date_time.epoch }}
  LambdaFunctionHash:
    Description: sha1 sum of the lambda execution file
    Value: "{{md5sum_lambda_local}}"