---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: s3 bucket for lambda code

Resources:
  # bucket containing lambda code zips
  LambdaBucket:
    Type: 'AWS::S3::Bucket'
    Properties:
      AccessControl: Private
      BucketName: {{subdomain}}.{{route53_domain_name}}-lambdas
      LifecycleConfiguration:
        Rules:
          - Id: "RemoveAfterNDays"
            ExpirationInDays: 30 # remove zips after n days
            Status: Enabled