---
# THIS TEMPLATE IS RENDERED WITH ANSIBLE

AWSTemplateFormatVersion: "2010-09-09"
Description: s3 buckets for website hosting and lambdas

Resources:
  # bucket containing access logs 
  AccessLogBucket:
    Type: 'AWS::S3::Bucket'
    Properties:
      AccessControl: LogDeliveryWrite
      BucketName: {{subdomain}}.{{route53_domain_name}}-logs
      LifecycleConfiguration:
        Rules:
          - Id: "RemoveAfterNDays"
            ExpirationInDays: 90 # remove access logs after n days
            Status: Enabled

  # a cloudfront access identity to attach to the cloudfront distribution
  # so we can limit access to the s3 bucket to only the cloudfront distribution
  # we need to create the identity in the s3 cloudformation stack as we need
  # it to create the s3 bucket policy
  # the cloudfront stack will reference it later on.
  CloudFrontOriginAccessIdentity:
    Type: AWS::CloudFront::CloudFrontOriginAccessIdentity
    Properties:
      CloudFrontOriginAccessIdentityConfig:
        Comment: "Origin Access Identity for S3 access"

  # the site bucket will contain all assets of our wordpress site
  SiteBucket:
    Type: 'AWS::S3::Bucket'
    Properties:
      AccessControl: Private
      BucketName: {{subdomain}}.{{route53_domain_name}}
      WebsiteConfiguration:
        IndexDocument: index.html
        ErrorDocument: 404.html
      LoggingConfiguration:
        DestinationBucketName: !Ref AccessLogBucket
      VersioningConfiguration:
        Status: Suspended
      CorsConfiguration: 
        CorsRules:  
          - AllowedHeaders: 
              - "*"
            AllowedOrigins: 
              - "https://{{subdomain}}.{{route53_domain_name}}"
            AllowedMethods: 
              - GET

  SiteBucketCloudFrontPolicy:
    Type: AWS::S3::BucketPolicy
    Properties: 
      Bucket: !Ref SiteBucket
      PolicyDocument: 
        Statement: 
          - 
            Action: 
              - "s3:ListBucket"
              - "s3:GetObject"
            Effect: "Allow"
            Resource:
              - arn:aws:s3:::{{subdomain}}.{{route53_domain_name}}
              - arn:aws:s3:::{{subdomain}}.{{route53_domain_name}}/*
            Principal:
              CanonicalUser: !GetAtt CloudFrontOriginAccessIdentity.S3CanonicalUserId

Outputs:
  CloudFrontId:
    Description: ClodFront Origin Access Identity
    Value: !Ref CloudFrontOriginAccessIdentity